<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <h1>register an account to be among us</h1>
    <input type="test" placeholder="add user" name="username" required>
    <input type="text" placeholder="add first name" name="password" required>
    <input type="text" placeholder="add last name" name="password" required>
    <input type="password" placeholder="add password" name="password" required>
    <button class="btn btn-primary" type = "submit"> Sign Up </button>
    </body>
</html>